<div class="dashboard-container" >
    <div class="nav-bar" >
    <h2>BookRoom</h2> 
    <div class="menu" >
        <div class="list" routerLink="Rooms" ><ion-icon name="home"></ion-icon>Rooms</div>
        <div class="list" routerLink="Booking" ><ion-icon name="file-tray-full"></ion-icon>Bookings</div>
        <div class="list" routerLink="Rooms" ><ion-icon name="person"></ion-icon>Account</div>
        <div class="list" routerLink="Rooms" ><ion-icon name="call"></ion-icon>Contact us</div>
        <div class="list" (click)="authService.SignOut()" ><ion-icon name="log-out"></ion-icon>Log out</div>
        <div class="list" routerLink="Rooms" ><ion-icon name="information-circle"></ion-icon>Help</div>

    </div>
    </div>
    <div class="content">
        <router-outlet  ></router-outlet>
    </div>
</div>